name: Security audit

on:
  push:
    branches: ["main"]
    tags: ["v*"]
    paths: ["**/Cargo.toml"]
  pull_request:
    branches: ["main"]
    paths: ["**/Cargo.toml"]
  schedule:
    - cron: "7 7 * * *"

jobs:
  cargo-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
